### Notebook to combine .csv datasets into one sqlite database for Project 2

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load (Remember to Change These)
ebola_data_to_load = "Data/ebola_data.csv"
swineflu_data_to_load = "Data/swineflu_data.csv"
covid19_data_to_load = "Data/merged_covid_19_data.csv"
lookup_countries_to_load = "Data/country_lookup_table.csv"
centroid_data_to_load = "Data/clean_country_centroids_az8.csv"

# Read Population Data from "Estimates" sheet
ebola_data = pd.read_csv(ebola_data_to_load)
swineflu_data = pd.read_csv(swineflu_data_to_load)
covid19_data = pd.read_csv(covid19_data_to_load)
lookup_data = pd.read_csv(lookup_countries_to_load, encoding="ISO-8859-1")
centroid_data = pd.read_csv(centroid_data_to_load)

In [2]:
ebola_data.head()

  Pandemic Country  Year   Cases  Deaths        Lon        Lat    population
0    Ebola  Guinea  2014  2397.0  1433.0 -10.940666  10.436216  1.115097e+13
1    Ebola  Guinea  2015  3351.0  2083.0 -10.940666  10.436216  1.143210e+07
2    Ebola  Guinea  2016  3351.0  2083.0 -10.940666  10.436216  1.173843e+04
3    Ebola   Italy  2015     1.0     0.0  12.070013  42.796626  6.057849e+07
4    Ebola   Italy  2016     1.0     0.0  12.070013  42.796626  6.066307e+04

In [3]:
covid19_data1 = covid19_data[['Pandemic', 'Country', 'Year', 'Cases', 'Deaths', 'Lon', 'Lat', 'population']]
covid19_data1.head()

  Pandemic         Country  Year  Cases  Deaths        Lon        Lat  population
0  Covid19     Afghanistan  2020  39268    1458  66.004734  33.835231  35383028.0
1  Covid19         Albania  2020  13518     384  20.049834  41.142450   2886427.0
2  Covid19         Algeria  2020  51368    1726   2.617323  28.158938  40551398.0
3  Covid19  American Samoa  2020      0       0        NaN        NaN     55739.0
4  Covid19         Andorra  2020   1966      53   1.560544  42.542291     77295.0

In [4]:
swineflu_data.head()

     Pandemic                   Country  Year   Cases  Deaths         Lon        Lat    population
0  Swineflu-W  United States of America  2009  113690    3433 -112.461674  45.679547  3.063076e+08
1  Swineflu-W                    Brazil  2009   58178    2135  -53.097831 -10.787777  1.938865e+08
2  Swineflu-W                     India  2009   33783    2024   79.611976  22.885782  1.217726e+09
3  Swineflu-W                    Mexico  2009   70715    1316 -102.523452  23.947537  1.124639e+08
4  Swineflu-W                     China  2009  120940     800  103.819073  36.561765  1.361169e+09

In [5]:
conn = sqlite3.connect('Data/Pandemic_data.db')
c = conn.cursor()
# Delete all rows from db
c.execute('DELETE FROM PANDEMICS;',);

# Add data 
covid19_data1.to_sql('PANDEMICS', conn, if_exists='append', index=False)
ebola_data.to_sql('PANDEMICS', conn, if_exists='append', index=False)
swineflu_data.to_sql('PANDEMICS', conn, if_exists='append', index=False)

OperationalError: no such table: PANDEMICS

In [6]:
for row in c.execute('SELECT * FROM PANDEMICS;'):
    print(row)

# Be sure to close the connection
c.close()

OperationalError: no such table: PANDEMICS